* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

.root {
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* Hides overflow */
    overflow-y: scroll
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.root::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in WebKit browsers */
}

/* For Firefox */
.root {
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    width: 100%;
    font-weight: 500;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav .nav-link a {
    color: white;
}


nav .nav-link {
    padding: 16px;
    margin: 0 15px;
    border-radius: 32px;


}

nav .nav-link.active {
    background-color: white;
}
nav .nav-link.active a{
    color: #0033a0;
}
a{
    text-decoration: none;

}

.main-page-banner {
    margin-top: 40px;
    max-width: 900px;
}

.offer-list {
    background-color: rgba(255, 255, 255, 0.5);
    /* White with 50% opacity */
    border-radius: 24px;
    justify-content: center;
    gap: 12px;
    padding: 0 16px;
    font-size: 20px !important;
    font-weight: 500;
    display: flex;
    width: fit-content;
    margin: 16px auto;

}


section {
    text-align: center;
    height: 100vh;

}

.section.home {
    background-color: #254287;
}

.section.cinerama {
    background-color: black;
}



button {
    background-color: #0033a0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055ff;
}

.container {
    width: 100%;
    max-width: 1410px;
    min-width: 510px;
    /* Minimum width of 510px */
    margin: 0 auto;
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.connect-part{
    background-color: #3051a0;
    height: 200px;
    width: 100%;

}
.connect-part .container{
   flex-direction: row;
   color: white;
   align-items: center;
   justify-content: center;
   gap:40px;


}
.connect-part button{
    background-color: white;
    height: min-content;
    padding: 16px 24px;
    border-radius: 24px;
    color: black;

}


 .footer {
    width: 100%;
    background-color: #3051a0;
    margin-top: 20px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    height: 200px;
    flex-direction: row;
    align-items: center;
}
.flex{
display: flex;
gap: 24px;
}
 .footer .footer-button {
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    padding: 8px 20px;
    font-size: 0.9em;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

 .footer .footer-button:hover {
    background-color: #eee;
}

 .footer .logo {
    height: 80px;
}
