* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    padding: 20px;
    display: flex;
    margin: 0 250px;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav a.active {
    color: #0033a0;  /* Text color when selected */
    background-color: white; /* Background color when selected */
    padding: 10px 16px;
    border-radius: 20px;
}
.main-page-banner{
    margin-top: 90px;
    max-width: 900px;
}
.offer-list{
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    border-radius: 12px;
    justify-content: center;
    gap:12px;
    padding: 0 16px;
    display: flex;
    width: fit-content;
    margin: 16px auto;
}

section {
    padding: 60px 20px;
    text-align: center;
    height: 100vh;

}

.tariff-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

button {
    background-color: #0033a0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055ff;
}
.home{
    background-color:#254287;
}