* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

.root {
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* Hides overflow */
    overflow-y: scroll
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.root::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in WebKit browsers */
}

/* For Firefox */
.root {
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    width: 100%;
    font-weight: 500;

    @media (max-width:750px) {
        font-size: 16px;
        flex-wrap: wrap;
        padding: 10px;
        max-width: 100vw;
        justify-content: center;
    }
}
.logo-and-lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:min-content;
    @media (max-width:750px) {
        width: 100%;
    }
}
.small-logo{
    display: none;
    @media (max-width:750px) {
        display: flex;
    }
}
.big-logo{
    display: flex;
    @media (max-width:750px) {
        display: none;
    }
}
.header .language {
    background: white;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;


    @media (max-width:750px) {
        font-size: 16px;
        padding: 10px;
    }
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-link a {
    color: white;
}


nav .nav-link {
    padding: 16px;
    margin: 0 15px;
    border-radius: 32px;

    @media (max-width:750px) {
        padding: 8px;
        margin: 0;
    }
}

nav .nav-link.active {
    background-color: white;
}

nav .nav-link.active a {
    color: #0033a0;
}

a {
    text-decoration: none;

}

.main-page-banner {
    margin-top: 40px;
    width: 900px;
    max-width: calc(100vw - 600px);
    @media (max-width:750px) {
        max-width: calc(100vw - 50px);
    }
}

.offer-list {
    background-color: rgba(255, 255, 255, 0.5);
    /* White with 50% opacity */
    border-radius: 24px;
    justify-content: center;
    gap: 12px;
    padding: 0 16px;
    font-size: 20px !important;
    font-weight: 500;
    display: flex;
    width: fit-content;
    margin: auto 0 16px 0;
    max-width: 100vw;

    justify-content: center;
    @media (max-width:750px) {
        margin-top: 50px;
    }
}


section {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section.home {
    background-color: #254287;
}

.section.cinerama {
    background-color: black;
    min-height: 100vh;
}



.section.connect {
    height: calc(100vh - 200px);
    @media (max-width:750px) {
        height: 100vh;
        
    }
}



button {
    background-color: #0033a0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055ff;
}

.container {
    width: 100%;
    max-width: 1410px;
    /* Minimum width of 510px */
    margin: 0 auto;
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    @media (max-width:750px) {
        max-width: 100%;
        min-width: 300px;
    }
}



.connect-part {
    background-color: #3051a0;
    height: 200px;
    width: 100vw;
    justify-content: start;
    display: flex;
    @media (max-width:750px) {
        height: 150px;
    }

}

.connect-part .container {
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    max-width: 100%;
    width: 100%;
    min-width: 300px;

}

.connect-part button {
    background-color: white;
    height: min-content;
    padding: 16px 24px;
    border-radius: 24px;
    color: black;
    margin:0 0 0 20px;


}


.footer {
    width: 100%;
    background-color: #3051a0;
    margin-top: 20px;
    width: 100vw;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    height: 200px;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
    @media (max-width:750px) {
        min-width: 300px;
        height: 150px;

        
    }
}

.flex {
    display: flex;
    gap: 24px;
}

.footer .footer-button {
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    padding: 8px 20px;
    font-size: 0.9em;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer .footer-button:hover {
    background-color: #eee;
}

.footer .logo {
    height: 80px;
    @media (max-width:750px) {
        height: 60px;
    }
}